.about {
  background-color: color(black);
  box-shadow: 0.5rem 0.5rem 5rem color(black);

  .about-content {
    @include sectionSpacing();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .about-info {
      color: color(white);

      h3 {
        @include headingStyles();
        color: color(primary);
        font-size: size(xs);
      }

      h2 {
        @include headingStyles();
        font-size: size(xl) + 2rem;
      }

      p {
        font-size: size(md);
        width: 85%;
        margin: 2rem 0;
      }
    }

    .about-img {
      width: 100%;
      max-width: 70rem;
    }
  }
}
