.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);

  .logo {
    @include response(lg) {
      margin: 0 auto;
    }

    h3 {
      @include headingStyles();
      color: color(white);
      font-size: size(xl);
    }

    span {
      color: color(primary);
    }
  }

  .navigation {
    a {
      color: color(white);
      font-size: size(sm);
      margin-right: 3rem;
      transition: color 0.3s ease;

      @include response(lg) {
        display: none;
      }

      &:hover {
        color: color(primary);
      }
    }
  }
}
