.services {
  background-color: color(black);
  box-shadow: 0.5rem 0.5rem 5rem color(black);

  .services-content {
    @include sectionSpacing();
    // height: 100vh;
    @include flexLayout();

    h2 {
      @include headingStyles();
      text-align: center;
      color: color(white);
      font-size: size(xl) + 2rem;
      margin: 5rem 0;

      @include response(xxl) {
        font-size: size(xl);
      }

      span {
        color: color(primary);
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      @include response(xxl) {
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
      }
    }

    .card {
      @include flexLayout();
      background-color: color(white);
      border-radius: 2rem;
      padding: 2rem;
      transition: all 0.5s ease;

      img {
        width: 30rem;
        height: 30rem;

        @include response(xxl) {
          width: 25rem;
          height: auto;
        }
      }

      h3 {
        font-size: size(md);
        color: color(black);
      }

      p {
        font-size: size(xs);
        color: color(black);
      }

      &:hover {
        transform: translateY(-1rem);
      }
    }
  }
}
